html {
    scroll-behavior: smooth;
  }
  nav{
    background-color:rgba(255, 255, 255, 0) !important;
    box-shadow: 0 0 0 0 !important;
  }
body{
    margin:0;
    padding:0;
    border:none;
    font-family: 'Noto Sans TC' !important;
}
.section{
    width: 100%;
    border:none;
    margin:0;
}
#navigation{
    z-index:5;
    width:100%;
    background-color:rgba(128, 128, 128, 0.397);
    position: fixed;
    top:0;
}
#navigation button{
    font-weight: 700;
}
#navigation #logo{
    width:100px;
}
#logo img{
    padding:10px;
    width: 50px;
}
#navigation ul li{
    display: inline-block;
    padding-right:10px;
}
#navigation ul li a{
    color:white;
}
#gele{
    padding-top:150px;
    margin:0;
    padding:0;
    border:none;
    background-image: url(../media/boy-calamity.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#fadedicons{
    background-image:url(../media/partners\ bkgrnd\ white.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#firstsection{
    width:100%;
    padding-left:0;
    padding-right:0;
    padding-top:150px;
    padding-bottom:150px;
    background-color:rgba(255, 255, 255, 0.288);
}
#firstsection #content{
    padding:40px;
    background-color:rgb(255, 255, 255);
    width:100%;
}
#firstsection p{
    font-size:20px;
    line-height: 40px;
}
#three-sage-buttons{
    width:100%;
}
#three-sage-buttons div{
    margin-left:2% !important;
}
#secondsection{
    background-color:rgba(255, 255, 255, 0.753);
}
#secondsection .row .col{
    text-align:center !important;
    font-weight:700 !important;
}
#secondsection .row .col p{
    text-align:center !important;
    color:rgb(0, 162, 255);
}
#secondsection .row .col .circle{
    border:6px solid rgb(0, 162, 255) !important;
    text-align:left !important;
    height:180px;
    width:180px;
    margin:auto;
    padding:10px;
    color:rgb(0, 162, 255);
    font-size:30px;
    font-weight:700 !important;

}
#thirdsection{
    background-color:rgba(255, 255, 255, 0.534);
}
#thirdsection i{
    font-size:20px;
}
#thirdsection .row .col{
    margin-top:20px;
    padding:30px 80px 30px 80px;
}
#fourthsection{
    position: relative;
}
#fourthsection button{
    margin-left:23%;
    z-index:6;
    left:-2%;
    top:650px;
    position:absolute; 
}
#fourthsection img{
    width:100%;
    position: relative;
}
#fourthbtn{
    position: absolute;
    top:20vh;
}
#fourthbtn{
    margin-top:600px;
}
#fifthsection{
    margin-top:-20px;
    background-image:url(../media/slide3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom:0;
}
#fifthsection .row{
    background-image:url(../media/partners\ bkgrnd\ white.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#fifthsection .spacing{
    padding-top:200px;
}
#fifthquote{
    padding:30px;
    padding-top:150px;
    padding-bottom: 150px;
    border-radius:30px;
    background-color:rgba(128, 128, 128, 0.644) !important;
}
.fifthcircle{
    width:100%;
}
#formrow{
    margin-top:-100px;
}
#contact-form{
    font-size:17px !important;
    width:40%;
    margin:auto;
}
#contact-form p{
    margin:0;
    padding:0;
    text-align:left;
}
#contact-form #email,#fullname,#message{
    background-color:rgba(255, 255, 255, 0.425);
    border-radius: 10px;
    padding:5px;
}
#message{
    height:200px;
}
#partners{
    background-image: url(../media/partners\ bkgrnd\ white.png);

}
#partners img{
    width:80%;
}
#footer{
    background-color:rgba(0, 0, 0, 0.329);
    padding:20px;
}
#footer span{
    padding:20px;
}
#footer i{
    font-size:20px;
}
#top{
    cursor: pointer;
    position:fixed;
    top:93vh;
    height:40px;
    width:40px;
    right:10px;
    color:white;
}
.cus-btn{
    border-radius:30px;
}
b{
    font-size:30px;
}
#form{
    height: 100vh;
    padding-top:160px;
}
#donateform{
    width:35%;
    margin:auto;
    padding:50px;
    border-radius: 10px;
}

#donateform #amount,#donateform #email{
    margin-top:1px;
    border:1px solid grey;
    border-radius:3px;
    margin-bottom:15px;
    text-align:center;
}
@media screen and (max-width:700px){
    #donateform{
        width:90%;
        margin:auto;
        padding:50px;
        border-radius: 5px;
    }
    #firstsection{
        padding-top:60px;
        padding-bottom: 60px;
    }
    #firstsection p{
        font-size:14px;
        line-height: 25px;
    }
    #firstsection h4{
        font-size:23px;
    }
    #secondsection .row .col .circle{
        height:100px;
        width:100px;
        font-size:12px;
    }
    #formrow{
        margin-top:0;
    }
    #contact-form{
        margin-top:40px;
        width: 90%;
    }
    #fourthsection button{
        margin-left:23%;
        z-index:6;
        left:-7%;
        top:220px;
        position:absolute; 
    }
    #navigation li a{
        font-size:11px;
    }
}