body{
    margin:0;
    padding:0;
    border:none;
}
ul{
    list-style-type: disc !important;
}

.section{
    width:100%;
    text-align:center;
    padding:50px;
}
.section p{
    font-size:24px;
}
#theproblem{
    width:100%;
    margin-bottom:-5px;
    padding:0;

}
#firstsection p{
    font-size: 24px;
}
#firstsection img{
    width:50%;
}
#firstsection{
    background-image:url("/public/media/first\ page\ background.png");
    background-repeat: no-repeat;
    background-size: cover;
}
#secondsection{
    background-image:url("/public/media/second\ page\ background.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.cus-btn{
    border-radius:60px;
}
.circle-border{
    border:6px solid white !important;
}
#sponsorlist .row{
    width:100%;
}
#sponsorlist img{
    width:40%;
}
#top{
    cursor: pointer;
    position:fixed;
    text-align:center;
    top:90vh;
    height: 40px;
    width:40px;
    right:10px;
    background:black;
    color:white;
}
#sixthsection{
    background-image:url("/public/media/partners\ bkgrnd\ white.png");
    background-repeat: no-repeat;
    background-size: cover;
}
#footer{
    height:150px;
}
@media screen and (max-width:700px){
    #firstsection p, .section p{
        font-size:17px;
    }
    #firstsection img{
        width:100%;
    }
    #sponsorlist img{
        width:90%;
    }
}