body{
    margin:0;
    padding:0;
    border:none;
}
ul{
    list-style-type: disc !important;
}

.section{
    width:100%;
    text-align:center;
    padding:50px;
}

#firstsection p{
    font-size: 24px;
}
#firstsection img{
    width:50%;
}
.cus-btn{
    border-radius:60px;
}
.circle-border{
    border:6px solid white !important;
}
#sponsorlist .row{
    width:100%;
}
#sponsorlist img{
    width:40%;
}
#top{
    cursor: pointer;
    position:fixed;
    text-align:center;
    top:90vh;
    height: 40px;
    width:40px;
    right:10px;
    background:black;
    color:white;
}
#footer{
    height:100px;
}
@media screen and (max-width:700px){
    #firstsection p{
        font-size:18px;
    }
    #firstsection img{
        width:100%;
    }
    #sponsorlist img{
        width:70%;
    }
}