html {
    scroll-behavior: smooth;
  }
  nav{
    background-color:rgba(255, 255, 255, 0) !important;
    box-shadow: 0 0 0 0 !important;
  }
body{
    margin:0;
    padding:0;
    border:none;
    font-family: 'Noto Sans TC' !important;
}
ul{
    list-style-type: disc !important;
}
#navcolor{
    background-color:rgba(255, 255, 255, 0) !important;
}

.section{
    width:100%;
    text-align:center;
    padding:50px;
}
.section p{
    font-size:24px;
}
#theproblem{
    width:100%;
    margin-bottom:-5px;
    padding:0;

}
#firstsection p{
    font-size: 24px;
}
#firstsection img{
    width:50%;
}
#firstsection{
    background-image:url("../media/about\ tidey.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding:0 !important;
}
#firstcontainer{
    background-image:url("../media/first\ page\ background.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding:50px;
}
#secondsection{
    
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
#secondsection h3{
    font-weight: 700;
}
#fifthsection{
    background-image:url("../media/activity\ page.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.cus-btn{
    border-radius:60px;
}
.circle-border{
    border:6px solid white !important;
    padding:20px;
}
#imagecontainer{
    padding-top:100px;
}
#imagecontainer h4{
    font-weight:700;
}
#sponsorlist .row{
    width:100%;
}
.media-partners{
    width:50% !important;
}
#sponsorlist img{
    width:40%;
}
#top{
    cursor: pointer;
    position:fixed;
    text-align:center;
    top:90vh;
    height: 40px;
    width:40px;
    right:10px;
    background:black;
    color:white;
}
#sixthsection{
    background-image:url("../media/partners\ bkgrnd\ white.png");
    background-repeat: no-repeat;
    background-size: cover;
}
#contact{
    padding-top:50px;
}
#footer{
    height:150px;
}
#footer p {
    font-size:16px;
}
#aboutcontainer{
    background-image: url("../media/second\ page\ background.png");
    background-repeat: no-repeat;
    background-size:cover;
    height:500px;
}
@media screen and (max-width:700px){
    #firstsection p, .section p{
        font-size:17px;
    }
    #firstsection img{
        width:100%;
    }
    #sponsorlist img{
        width:90%;
    }
    #footer p{
        font-size:11px;
    }
    #imagecontainer{
        padding-top:50px;
    }
}