html {
    scroll-behavior: smooth;
  }
  nav{
    background-color:rgba(255, 255, 255, 0) !important;
    box-shadow: 0 0 0 0 !important;
  }
body{
    margin:0;
    padding:0;
    border:none;
    font-family: Segoe UI bold !important;
}
ul{
    list-style-type: disc !important;
}
#navcolor{
    background-color:rgba(255, 255, 255, 0) !important;
}

.section{
    width:100%;
}
.section p{
    font-size:24px;
}
#theproblem{
    width:100%;
    margin-bottom:-5px;
    padding:0;

}
#firstsection{
    width:100%;
    padding:0;
    border:none;
}
#firstsection p{
    font-size: 24px;
}
#firstsection img{
    width:50%;
}
#slider{
    height:100vh !important;
}
.slide{
    width:100% !important;
    background-repeat: no-repeat;
    background-size: cover;
    padding:0 !important;
}
#firstslide{
    background-image:url("../media/slide4.jpg");
}
#secondslide{
    background-image:url("../media/slide2.jpg");
}
#thirdslide{
    background-image:url("../media/toiletroll.jpg");
}
#fourthslide{
    background-image:url("../media/kids.jpeg");
}
#fifthslide{
    background-image:url("../media/toiletkit.jpg");
}
#sixthslide{
    background-image:url("../media/fetchingwater.jpg");
}
#seventhslide{
    background-image:url("../media/slide1.jpg");
}
#seventhslide .quote{
    font-size:40px;
}
#eightslide{
    background-image:url("../media/badmouth.jpg");
}
#elderswants{
    position: absolute;;
    bottom:20vh;
    left:8%;
    text-transform: uppercase;
    font-weight: 800;
    z-index:20; 
}
.show{
    display:block !important;
}
#firstcontainer{
    background-image:url("../media/first\ page\ background.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding:50px;
    height:100vh;
}
#greyoverlay{
    width:100%;
    background-color:#607d8ba4;
    height:100vh;
    position: absolute;
    top:0;
}
#blueoverlay{
    width:100%;
    background-color:rgba(176, 224, 230, 0.473);
    height:100vh;
    position: absolute;
    top:0;
}
.pinkoverlay{
    width:100%;
    background-color:rgba(255, 192, 203, 0.411);
    height:100vh;
    position: absolute;
    top:0;
}
#maincontent{
    margin-top:20vh;
    padding:50px;
}
#absolutes img{
    width:35%;
}
#top{
    border-radius: 500px;
    cursor: pointer;
    position:fixed;
    text-align:center;
    top:85vh;
    height:50px;
    width:50px;
    right:45px;
    background:black;
    color:white;
}

.quote{
    width:60%;
    margin:45px auto;
    font-size:16px;
    font-family: ;
    padding:20px;
    text-align:justify;
    margin-bottom:5px;
}
.quotespitter{
    font-size:11px !important;
    margin-left:54%;
    font-family:Segoe UI regular !important;
}
.specialspitter{
    font-size:11px !important;
    margin-left:54%;
    font-family:Segoe UI regular !important;
}
.cus-btn{
    border-radius:30px;
}
#absolutes{
    position: absolute;
    top:5vh;
}
#navigation{
    margin-right:35px;
    text-align: right;
    font-family:Segoe UI semibold;
}
#navigation li{
    display: inline-block;
    padding:6px;
}
#navigation a{
    color:white;
}
#mobilenav{
    margin-right:35px;
    display:none;
}
#mobilenav li #navdonate{
    margin-top:-12px;
    margin-left:5px;
}
#dropdown1{
    background-color:rgba(0, 0, 0, 0.075);
}
#dropdown1 li a{
    font-family: Segoe UI semibold;
    color:white;
}
#absolutes .col img{
    margin-left:40px;
}
@media screen and (max-width:700px){
    #firstsection p, .section p{
        font-size:17px;
    }
    #navigation{
        display:none;
    }
    #mobilenav{
        display:inline-block;
    }
    #absolutes .col img{
        width:50%;
        margin-left:30px;
    }
    .quote{
        width:100%;
        padding:0;
    }
    .quotespitter{
        font-size:11px !important;
        margin-left:90%;
    }
    .specialspitter{
        margin-left:60%;
    }
    #firstcontainer,#greyoverlay{
        height:100vh;
    }
    #seventhslide .quote{
        font-size:20px;
    }
}