html {
    scroll-behavior: smooth;
  }
  nav{
    background-color:rgba(255, 255, 255, 0) !important;
    box-shadow: 0 0 0 0 !important;
  }
body{
    margin:0;
    padding:0;
    border:none;
    font-family: 'Noto Sans TC' !important;
}
ul{
    list-style-type: disc !important;
}
#navcolor{
    background-color:rgba(255, 255, 255, 0) !important;
}

.section{
    width:100%;
}
.section p{
    font-size:24px;
}
#theproblem{
    width:100%;
    margin-bottom:-5px;
    padding:0;

}
#firstsection{
    width:100%;
    padding:0;
    border:none;
}
#firstsection p{
    font-size: 24px;
}
#firstsection img{
    width:50%;
}
#slider{
    height:100vh !important;
}
.slide{
    width:100% !important;
    background-repeat: no-repeat;
    background-size: cover;
    padding:0 !important;
}
#firstslide{
    background-image:url("../media/slide1.jpg");
}
#secondslide{
    background-image:url("../media/slide2.jpg");
}
#thirdslide{
    background-image:url("../media/slide3.jpg");
}
#fourthslide{
    background-image:url("../media/slide4.jpg");
}

.show{
    display:block !important;
}
#firstcontainer{
    background-image:url("../media/first\ page\ background.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding:50px;
    height:100vh;
}
#greyoverlay{
    width:100%;
    background-color:#607d8ba4;
    height:100vh;
    position: absolute;
    top:0;
}
#maincontent{
    margin-top:30vh;
    padding:50px;
}
#absolutes img{
    width:35%;
}
#top{
    border-radius: 500px;
    cursor: pointer;
    position:fixed;
    text-align:center;
    top:85vh;
    height:50px;
    width:50px;
    right:45px;
    background:black;
    color:white;
}
#orgby{
    font-size:16px;
}
#footer p {
    font-size:16px;
}
.quote{
    width:60%;
    margin:45px auto;
    font-size:16px;
    padding:20px;
    text-align:justify;
    margin-bottom:5px;
}
.quotespitter{
    font-size:11px !important;
    margin-left:54%;
    font-family: century gothic regular !important;
}
.cus-btn{
    border-radius:30px;
}
#absolutes{
    position: absolute;
    top:5vh;
}
#navigation{
    margin-right:40px;
    text-align: right;
}
#navigation li{
    display: inline-block;
    padding:6px;
}
#navigation a{
    color:white;
}
#absolutes .col img{
    margin-left:40px;
}
@media screen and (max-width:700px){
    #firstsection p, .section p{
        font-size:17px;
    }
    #absolutes .col img{
        width:50%;
        margin-left:30px;
    }
    .quote{
        width:100%;
        padding:0;
    }
    .quotespitter{
        font-size:11px !important;
        margin-left:90%;
    }
    #firstcontainer,#greyoverlay{
        height:100vh;
    }
}